/* general Utils */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* start navbar section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.brand img {
    width: 40px;
    height: 40px;
}

.nav-Links {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 1.2rem;
    color: #333;
}

.nav-Links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-Links a:hover {
    color: #0077cc;
}

nav #toggle {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #000;
}


@media screen and (max-width: 768px) {
    .nav-Links {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #fff;
        color: #fff !important;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        display: none !important;
    }

    .nav-Links.active {
        display: flex !important;
    }

    nav #toggle {
        display: block;
    }
}

/* end navbar section */

/* start header section */

header {
    height: 100vh;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(70, 193, 252, 1) 100%);
}

.header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* end header section */

/* start booking section */

#booking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #f5f5f5;
    position: relative;
}

#booking h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

#booking h2 span {
    color: #E5402D;
    font-size: 40px;
}

#booking h3 {
    font-weight: bold;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

#booking .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

#booking .cards .wrapper {
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#booking .cards .wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#booking .cards .wrapper h4{
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
}

#booking .cards .wrapper p {
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E5402D;
}

/* end booking section */

/* start contact section */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-color: #f5f5f5;
    position: relative;
}

.container {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    text-align: center;
    margin-top: 50px;
}


.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #E5402D;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #E5402D;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #5029bc;
}

/* end contact section */

/* start footer section */

/* start footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 30px 0px;
    background-image: url(../imgs/textured-metal-background.jpg);
    background-size: cover;
    background-position: center;
}
